<!DOCTYPE html>
<html lang="fr" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>{% block title %}SYGESCA 4 : {% endblock %}</title>
    <link rel="shortcut icon" href="{{ absolute_url(asset('assets/images/ascci.png')) }}">
    <link rel="stylesheet" href="{{ absolute_url(asset('assets/css/style.css')) }}">
    <style>
        h1{margin-top: 100px; color: white}
        h3{
            margin: auto auto;
            text-align: center; color: white;
            font-size: 1.6rem;}
    </style>
</head>
<body>
<div class="center">
    <h1>OUPS!!!</h1>
    <h3>Nous sommes en maintenance.</h3>
</div>

</body>
</html>
