{% extends 'base.html.twig' %}

{% block title %}Hello BadgeController!{% endblock %}

{% block body %}


<div class="example-wrapper">
    <h1>Votre badge sera disponible sous peu! ✅</h1>

</div>
{% endblock %}
