<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% block title %}SYGESCA 4 : {% endblock %}</title>
        <link rel="shortcut icon" href="{{ absolute_url(asset('assets/images/ascci.png')) }}">

        {% block stylesheets %}
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lykmapipo/themify-icons@0.1.2/css/themify-icons.css">
            <link rel="stylesheet" href="{{ absolute_url(asset('backend/css/style.css')) }}">
        {% endblock %}
    </head>
    <body>
        <input type="checkbox" id="sidebar-toggle">
        <div class="sidebar">
            <div class="sidebar-header">
                <h3 class="brand">
                    <span class="ti-unlink"></span>
                    <span>SYGESCA 4</span>
                </h3>
                <label for="sidebar-toggle" class="ti-menu-alt"></label>
            </div>
            <div class="sidebar-menu">
                <ul>
                    <hr class="dashbord">
                    <li>
                        <a href="">
                            <span class="ti-bar-chart"></span> <span>Statistiques</span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <span class="ti-pulse"></span> <span>Télémetrie</span>
                        </a>
                    </li>
                    <hr class="gestion">
                    <li>
                        <a href="" title="Scouts">
                            <span class="ti-user"></span> <span>Scouts</span>
                        </a>
                    </li>
                    <li>
                        <a href="" title="Finance">
                            <span class="ti-money"></span> <span>Finance</span>
                        </a>
                    </li>
                    <hr class="administrateur">
                    <li>
                        <a href="">
                            <span class="ti-target"></span> <span>Objectif</span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <span class="ti-map-alt"></span> <span>Region</span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <span class="ti-map"></span> <span>District</span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <span class="ti-location-pin"></span> <span>Groupes</span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <span class="ti-agenda"></span> <span>Fonction</span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <span class="ti-pin-alt"></span> <span>Statut</span>
                        </a>
                    </li>
                    <hr class="securite">
                    <li>
                        <a href="">
                            <span class="ti-settings"></span> <span>Account</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="main-content">
            <header>
                <div class="search-wrapper">
                    <span class="ti-search"></span>
                    <input type="search" placeholder="Recherche">
                </div>

                <div class="social-icons">
                    <span class="ti-bell"></span>
                    <span class="ti-comment"></span>
                    <div class="menu-dropdown" style="float: right">
                        <div class="menu"></div>
                        <div class="menu-list" style="right: 0;">
                            <a href=""><i class="ti-unlock"></i> Modifier password</a>
                            <a href=""><i class="ti-power-off"></i> Déconnexion</a>
                        </div>
                    </div>
                </div>
            </header>

            <main>
                <h2 class="dash-title">Overview</h2>
                <div class="dash-cards">

                    <div class="card-single">
                        <div class="card-body">
                            <span class="ti-briefcase"></span>
                            <div>
                                <h5>Account Balance</h5>
                                <h4>322</h4>
                            </div>
                        </div>
                        <div class="card-footer">
                            <a href="">View All</a>
                        </div>
                    </div>


                    <div class="card-single">
                        <div class="card-body">
                            <span class="ti-reload"></span>
                            <div>
                                <h5>Account Balance</h5>
                                <h4>322</h4>
                            </div>
                        </div>
                        <div class="card-footer">
                            <a href="">View All</a>
                        </div>
                    </div>


                    <div class="card-single">
                        <div class="card-body">
                            <span class="ti-check-box"></span>
                            <div>
                                <h5>Account Balance</h5>
                                <h4>322</h4>
                            </div>
                        </div>
                        <div class="card-footer">
                            <a href="">View All</a>
                        </div>
                    </div>

                </div>

                <section class="recent">
                    <div class="activity-grid">
                        <div class="activity-card">
                            <h3>Recent Activity</h3>

                            <div class="table-responsive">
                                <table>
                                    <thead>
                                    <tr>
                                        <th>Project</th>
                                        <th>Start Date</th>
                                        <th>End Date</th>
                                        <th>Team</th>
                                        <th>Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>App developpement</td>
                                        <td>Test d'immacurite</td>
                                        <td>aucun</td>
                                        <td>vendred</td>
                                        <td><span class="badge warning">Aussi</span></td>
                                    </tr>
                                    <tr>
                                        <td>App developpement</td>
                                        <td>Test d'immacurite</td>
                                        <td>aucun</td>
                                        <td>vendred</td>
                                        <td><span class="badge success">Aussi</span></td>
                                    </tr>
                                    <tr>
                                        <td>App developpement</td>
                                        <td>Test d'immacurite</td>
                                        <td>aucun</td>
                                        <td>vendred</td>
                                        <td><span class="badge warning">Aussi</span></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="summary">
                            <div class="summary-card">
                                <div class="summary-single">
                                    <span class="ti-id-badge"></span>
                                    <div>
                                        <h5>196</h5>
                                        <small>Number of staff</small>
                                    </div>
                                </div>
                                <div class="summary-single">
                                    <span class="ti-calendar"></span>
                                    <div>
                                        <h5>196</h5>
                                        <small>Number of staff</small>
                                    </div>
                                </div>
                                <div class="summary-single">
                                    <span class="ti-face-smile"></span>
                                    <div>
                                        <h5>12</h5>
                                        <small>Number of staff</small>
                                    </div>
                                </div>
                            </div>

                            <div class="bday-card">
                                <div class="bday-img"></div>
                                <div class="bday-info">
                                    <h5>Dwaye</h5>
                                    <small>Birthday today</small>

                                    <div>
                                        <button>
                                            <span class="ti-gift"></span> Whish him
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </main>
        </div>

        {% block javascripts %}
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
            <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"  async defer></script>

        {% endblock %}
    </body>
</html>
